html {
	  font-size: 16px;
}

body {
	  background: #b9babe;
	  font-size: 62.5%;
    padding-top: 50px;
}

section {
	  margin-top: 60px;
}

.page {
	  padding-bottom: 80px;
}

.container {
	  width: 100%;
	  max-width: 940px;
	  margin: 0 auto;
	  margin-top: 55px;
	  position: relative;
	  background: #ffffff;
/* box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3); */
}

.borderbtn {
	  border-bottom: 1px solid #d4d4d4;
}

.borderleft {
	  border-left: 1px solid #d4d4d4;
}

ul, li {
	  list-style: none;
	  margin: 0;
	  padding: 0;
}

.aside_el {
	  text-align: right;
	  padding-right: 5px;
}

.aside_el h2 {
	  font: 2.9em 'Arvo', serif;
	  line-height: 0.8em;
	  color: #464646;
	  font-weight: normal;
	  margin-bottom: 3px;
	  margin-top: 0;
}

.aside_el h5 {
	  font: 1.35em 'Droid Sans', sans-serif;
	  line-height: 1.2em;
	  color: #0099e8;
	  font-weight: normal;
}

.par_el {
	  padding-left: 30px;
	  position: relative;
}

.par_el p {
	  font-family: 'Droid Sans', sans-serif;
	  font-size: 1.4em;
	  line-height: 1.8em;
	  color: #8e8d8d;
	  text-align: left;
}

.navbar-default {
    background-color: #b9babe;
}

.navbar {
    border: none;
}

.nav {
	  font-family: 'Droid Sans', serif;
	  z-index: 5000;
	  background: #ffffff;
}

.nav ul {
	  text-align: center;
	  margin: 0; padding: 0;
}

.nav li {
	  vertical-align: middle;
	  margin: 0;
	  margin-left: -2px;
	  padding: 0 18px;
	  display: inline-block;
	  border-top: 10px solid transparent;
}

.nav a {
	  font-size: 1.6em;
	  line-height: 5.3125em;
	  color: #0099e8;
	  top: -10px;
	  position: relative;
	  margin: 0; padding: 0;
    transition: 0.5s all ease;
}

.nav a:hover {
	  text-decoration: none;
	  color: #747474;
}

.nav li.active {
    border-top: 10px solid #0099e8;
}

.nav li.active a {
    background-color: transparent;
	  color: #747474;
}

/* This seems extraneous */
.navbar-default .navbar-nav li.active a {
    background-color: transparent;
	  color: #747474;
}

.navbar-default .navbar-nav li.active a:hover {
    background-color: transparent;
	  color: #747474;
}

.banner {
	  padding-top: 30px;
	  padding-bottom: 33px;
	  position: relative;
	  text-align: center;
}

.banner h1 {
	  font: 6em 'Arvo', serif;
	  line-height: 0.66666666em;
	  font-weight: bold;
	  color: #464646;
	  display: inline-block;
	  padding-right: 5px;
	  padding-left: 5px;
	  z-index: 2;
}

#nameline {
	  text-align: center;
}

.banner h1:before, .banner h1:after {
    /* border-top: 1px solid #d4d4d4; */
    content: " ";
    display: block;
    height: 1px;
    width: 32%;
    position: absolute;
    left: 0;
    top: 1em;
	  z-index: 1;
}

.banner h1:after {
    right: 0;
    left: auto;
}

.banner h2 {
	  font: 2.1em 'Arvo', serif;
	  font-weight: normal;
	  color: #616161;
	  margin: -4px 0 25px 0;
}

.banner h3 {
	  font: 2.5em 'Droid Sans', sans-serif;
	  line-height: 1.2em;
	  font-weight: 400;
	  color: #a4a5a6;
	  margin-right: 8%;
	  margin-left: 8%;
}

/*-----------------------------*\
	ABOUT ME
\*-----------------------------*/

.circle {
	  border-radius: 50%;
	  width: 85px;
	  height: 85px;
	  display: inline;
	  position: relative;
	  float: left;
	  margin-right: 20px;
	  margin-top: 4px;
	  border: 4px solid white;
	  box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
	  overflow: hidden;
}

.contact_info {
	  padding-left: 5px;
	  margin: 0 auto;
	  overflow: hidden;
}

.soc ul li {
	  display: inline-block;
	  width: 18%;
	  margin:  0 2% 2% 0;
	  float: left;
}

.soc img {
	  max-width: 100%;
}

.info {
	  margin-top: 50px;
}

.info ul li {
	  padding-bottom: 20px;
}

.info ul li span {
	  font-size: 1.4em;
	  color: #222222;
	  margin: 0;
    padding: 0;
	  margin-top: -4px;
	  position: relative;
}

.info ul li a, .info ul li a:hover {
	  font-size: 1.4em;
	  color: #959595;
	  text-decoration: none;
	  line-height: 0em;
	  padding-left: 30px;
}

.experience p, .education p {
	  color: #c0c0c0;
}

.period {
	  position: absolute;
	  top: 0;
	  padding-left: 5px;
	  padding-right: 5px;
	  font: 1.6em 'Droid Sans', sans-serif;
	  color: white;
	  font-weight: 400;
	  background-color: #0099e8;
}
.bigspacing {
	  padding-left: 155px;
}

.par_el header h2 {
	  font-family: 'Arvo', serif;
	  font-size: 2.3em;
	  font-weight: normal;
	  line-height: 1em;
	  color: #464646;
	  margin-top: 0;
}

.par_el header h3 {
	  font: 1.8em 'Droid Sans', sans-serif;
	  line-height: 0.535714em;
	  color: #8e8e8e;
	  padding-bottom: 5px;
}

.in_spacing {
	  position: relative;
	  padding-bottom: 15px;
	  padding-right: 10px;
}


/*-----------------------------*\
	FOOTER
\*-----------------------------*/

#contact {
	  margin: 0 18px;
}

/*-----------------------------*\
	RESPONSIVE
\*-----------------------------*/

@media only screen and (max-width: 950px) {
	  .container {
		    margin-top: 20px;
		    margin-bottom: 20px;
	  }
}

@media only screen and (max-width: 870px) {
	  .banner h1:before, .banner h1:after {
		    width: 28%;
	  }
	  .cont_info {
		    padding-left: 0px;
	  }
	  .banner h3 {
		    font: 2em 'Droid Sans', sans-serif;
	  }
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 0px;
    }
    .navbar-default {
        min-height: 0;
        margin: 0;
        height: 0;
        background-color: #ffffff transparent;
    }
    .container {
        margin: 0px;
    }
    section {
	      margin-top: 35px;
    }
	  #contact {
		    padding-top: 20px;
	  }
	  .site_nav a {
		    font-size: 1.6em;
		    line-height: 5.3125em;
	  }
	  .borderleft {
		    border-left: none;
	  }
	  .banner {
		    padding-top: 17px;
		    padding-bottom: 25px;
	  }
	  .banner h1 {
		    font: 4em 'Arvo', serif;
		    line-height: 0.66666666em;
		    font-weight: bold;
		    color: #464646;
	  }
	  .banner h2 {
		    font: 1.9em 'Arvo', serif;
	  }
	  .banner h3 {
		    font: 1.7em 'Droid Sans', sans-serif;
		    line-height: 1.2em;
	  }
	  .aside_el {
		    text-align: center;
		    padding-right: 0px;
		    margin-bottom: 30px;
	  }
	  .aside_el h5 {
		    margin-top: 15px;
	  }
	  .par_el {
		    padding-left: 20px;
		    padding-right: 20px;
	  }
	  .cont_info {
		    padding-left: 0px;
		    margin-top: 40px;
	  }
	  .soc {
		    width: 200px;
		    margin: 0 auto;
		    overflow: hidden;
	  }
	  .info {
		    padding-top: 20px;
		    width: 200px;
		    margin: 0 auto;
		    overflow: hidden;
	  }
}

@media only screen and (max-width: 630px) {
	  .site_nav a {
		    font-size: 1.4em;
		    line-height: 6.071428571428571em;
	  }
	  .banner {
		    padding-top: 10px;
		    padding-bottom: 15px;
	  }
	  .banner h1 {
		    font: 3em 'Arvo', serif;
		    line-height: 0.66666666em;
		    font-weight: bold;
		    color: #464646;
	  }
	  .banner h2 {
		    font: 1.7em 'Arvo', serif;
	  }
	  .banner h3 {
		    font: 1.6em 'Droid Sans', sans-serif;
		    line-height: 1.2em;
		    margin-top: -15px;
	  }
	  .aside_el  h2 {
		    font: 2em 'Arvo', serif;
		    line-height: 0.8em;
		    margin-bottom: -10px;
	  }
	  .aside_el  h5 {
		    font: 1.35em 'Droid Sans', sans-serif;
		    line-height: 1.1em;
	  }
	  .cont_info {
		    margin-top: 25px;
	  }
    section {
	      margin-top: 20px;
    }
	  .par_el header h2 {
		    font: 1.9em 'Arvo',serif;
		    margin-top: 3px;
		    padding-top: 2px;
	  }
	  .par_el header h3 {
		    font: 1.4em/0.535714em 'Droid Sans',sans-serif;
		    padding-bottom: 5px;
	  }
}

@media only screen and (max-width: 540px) {
	  .cont_info {
		    margin-top: 20px;
	  }
	  .info {
		    padding-top: 10px;
	  }
	  .info ul li {
		    padding-bottom: 10px;
	  }
	  .aside_el {
		    margin-bottom: 20px;
	  }
	  .bigspacing {
		    padding-left: 0px;
	  }
	  .period {
		    font: 600 1.4em 'Droid Sans',sans-serif;
		    right: 20px;
	  }
}

@media only screen and (max-width: 480px) {
	  #contact {
		    padding-top: 15px;
	  }
	  .banner {
		    padding-top: 0px;
		    padding-bottom: 10px;
	  }
	  .banner h1 {
		    font: bold 2.6em 'Arvo',serif;
	  }
	  .banner h2 {
		    font: 1.5em 'Arvo', serif;
	  }
	  .banner h3 {
		    font: 1.3em 'Droid Sans', sans-serif;
		    line-height: 1.2em;
		    margin-top: -15px;
	  }
	  .aside_el  h2 {
		    font: 1.8em 'Arvo', serif;
		    line-height: 0.8em;
		    margin-bottom: -10px;
	  }
	  .aside_el  h5 {
		    font: 1.5em 'Droid Sans', sans-serif;
		    line-height: 1.1em;
	  }
	  .par_el p {
		    font: 1.3em 'Droid Sans', sans-serif; /* 14px/10 */
		    color: #8e8d8d;
		    text-align: left;
	  }
	  .par_el header h2 {
		    font: 1.6em 'Arvo',serif;
		    margin-top: 3px;
		    padding-top: 2px;
	  }
	  .par_el header h3 {
		    font: 1.3em 'Droid Sans',sans-serif;
		    margin-top: -10px;
	  }
	  .period {
		    font: 600 1.3em 'Droid Sans',sans-serif;
	  }
	  .page {
		    padding-bottom: 40px;
	  }
}

@media only screen and (max-width: 360px) {
	  .banner h1 {
		    font: bold 2em 'Arvo',serif;
	  }
	  .period {
		    font-size: 1.1em;
	  }
	  .par_el header h2 {
		    font: 1.4em 'Arvo',serif;
		    margin-top: 3px;
		    padding-top: 2px;
	  }
}
